#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-exynos9810-configs --name=setup-zram setup-zram.service --no-start
	dh_installsystemd -padaptation-exynos9810-configs --name=droidian-perf droidian-perf.service --no-start
